<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pystbin</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/highlight.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/milligram.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="title">
                <h1>Pystbin</h1>
            </div>
        </div>
        {% block body %}
        {% endblock %}
    </div>
</body>
</html>